body {
    background-color: #f8f8f8;
    opacity: 0;
    transition: opacity .5s;
}

p {
    color: rgb(0, 0, 0);
}

div {
    margin-top: 10px;
}

button {
    background-color: #e2e0e0;
    border-radius: 3px;
    border: 4px #000000;
    color: #000000;
    text-align: center;
    padding: 4px 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.shopvis {
    display: block;
}

.shopinvis {
    display: none;
}

.autoinc {
    display: inline-block;
}

.boostinc {
    display: inline-block;
}

a {
    color: rgb(0, 0, 0);
}

span {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 1%;
    left: 0;
    display: inline-block;
}

.save {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    text-decoration: underline;
    display: inline;
    cursor: pointer;
}

.color_mode {
    color: rgb(0, 0, 0);
    margin-right: 10px;
    text-decoration: underline;
    display: inline;
    cursor: pointer;
}

.explore {
    margin-top: 80px;
}

#have {
    margin-top: 5%;
}

.row {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header {
    margin-right: 5px
}