body {
    background-color: #333333;
}

p {
    color: white;
}

.shopvis {
    display: block;
}

.shopinvis {
    display: none;
}

.autoinc {
    display: inline-block;
}

.boostinc {
    display: inline-block;
}

a {
    color: white;
}

footer {
    position:absolute;
    top:100vh;
    transform:translateY(-100%);
    width:100%;
}

.save {
    color: white;
    margin-right: 10px;
    text-decoration: underline;
}